.scrollbar {
  border: 1px solid #eee;
  height: 670px;
  overflow: auto;
  margin: 5px 0 0;
  padding: 5px 10px 10px 10px;
}

.demo a {
  color: rgb(0, 150, 0);
  text-decoration: none;
}

.corner {
  float: right;
  width: 10%;
}
